<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="MyCon" connectionString="Server=USER-PC; Database=Hackathon; User ID=sa; Password=benilde; MultipleActiveResultSets=True;"/>
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
